/* Estilos utilizados para el desarrollo de este proyecto grupal */

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Estilo específico para los títulos del Dashboard */
h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}

.mi-header-footer {
    background-color: #213442 !important;

    min-height: 60px;
    width: 100%;
    display: block !important;
} 
.mi-header-footer h1 {
    font-family: 'Montserrat', sans-serif; /* La fuente elegante */
    text-transform: uppercase;            /* Todo en mayúsculas */
    letter-spacing: 4px;                  /* Espaciado entre letras clave */
    font-weight: 500;                     /* Grosor medio */
    font-size: 1.8rem;                    /* Tamaño ajustado */
}

/* Estilo de los links del header */
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    letter-spacing: 1px;
    opacity: 0.9;
}

.nav-link:hover {
    opacity: 1;
    text-decoration: underline;
}

.luxury-input {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0;
    padding: 12px 0;
    font-size: 1.1rem;
    background-color: transparent !important;
}

.luxury-input:focus {
    box-shadow: none;
    border-bottom: 2px solid #213442;
    outline: none;
}

.luxury-label {
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #555;
    font-weight: 600;
}

/* Botón de Registro (Negro sólido) */
.btn-luxury {
    background: #000;
    color: #fff !important;
    border: none;
    padding: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: 0.3s;
    text-decoration: none;
}

.btn-luxury:hover {
    background: #333;
}